.play{
    color: white;
    text-align: center;    
}

.playground{
    width: 800px;
    height : 600px;
    border: 1px solid purple;
    background: rgb(56, 47, 47);
}

.path {
    width: 10px;
    height : 10px;
    background: rgb(172, 22, 22);
    position: absolute;
}

.playerPos{
    width: 10px;
    height : 10px;
    background: rgb(81, 190, 7);
    position: absolute;
}

.block{
    border: 1px solid yellow;
    position: absolute;
}

.shot{
    background: rgb(241, 166, 5);
    position: absolute;
}

.nuke{
    position: absolute;
    left: 200px;
}

.playerFrame{
    width: 60px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: -60px;
    left: -30px;
}

#imgSprite{
    position: relative;
}

.npc{
    width: 10px;
    height : 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
}

.cowDiv{
    width: 150px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    margin-top:  -30px;
    margin-left: -50px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0);
}

#cowSprite{
    position: absolute;
}

#timer{
    position: absolute;
    top: 60px;
    left: 20px;
}

#gameOver{
    width: 600px;
    height: 375px;
    position: absolute;
    left: 100px;
    top: 100px;
    text-align: center;
    background: url("../pic/score.png");
    background-repeat: repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: top;
    z-index: 99;
    border-radius: 25px;
    
    color: #00ad00;
    font-size: 24px;
    font-weight: bold;
    border-radius : 5px;
 
}

#bonus{
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 42;
}

#bonus img{
    width: 400px;
    height: 400px;
}

#bonus button{
    position: absolute;
    width: 120px;
    height: 40px;
    top: 390px;
    left: 160px;
    z-index: 47;
    border-radius: 5px;
    color: yellow;
    font-weight: bold;
    background: #1260aa;
}

.scores{
    padding-top: 170px;
    width: 90%;
    display: inline-block;}

.gameOverBtn{
    width: 90%;
    text-align: center;  
    display: inline-block;
}

.gameOverBtn form{
    margin: 5px;
    display: inline-block;

    }

.gameOverBtn input{
    border: 2px solid #00ad00; 
    display: inline-block;
    border-radius : 5px;
}

.about{

    color: #00ad00;
    text-align: center;
    margin: 40px;
}

.about img{margin: 20px;}
.download a, a:visited {
    text-decoration: none;
    color: darkGreen; 
}

.download a:hover{
    color: #00ad00; 
}

#disclaimer{
    margin: 30px;
    color: darkGreen}
